// ******************
// Colors Variables
// ******************
$off-white: #ffff;
$ocean: #00B0E6;
$sky: #1D80CB;
$light-gray: #707070;
$dark-gray: #131212;
$dark-night: #0D2A47;




// ******************
// Break Points
// ******************
